

/*section Fonctionnement*/
.stepBlock:hover{
    background-color:$primaireTransparent;
    & i{
        color:$primaire;
    }
}
/*page restaurant*/    
.btn{
    @include btn;
    transition:transform 500ms;
    &:hover{
        cursor:pointer;
        animation:testBtn  500ms linear;
        animation-fill-mode:forwards;
        -webkit-transform:scale(1.08);
        transform:scale(1.08);
            }
    }
    @keyframes testBtn{
        from{
            background:$btnHover;
            box-shadow:5px 5px 5px #aaa;

        }
        to{
            background:$btnHover;
            box-shadow:7px 7px 7px #aaa;
        }
    }
    @-webkit-keyframes testBtn{
        from{
            background:$btnHover;
            box-shadow:5px 5px 5px #aaa;

        }
        to{
            background:$btnHover;
            box-shadow:7px 7px 7px #aaa;
        }
    }


    
/*Case à cocher*/
.check{
    margin-right:-90px;
    max-width:150px;
    right:0;
    text-align:center;
    background-color:$tertiaire;
    padding:35px 0 35px 0;
    color:$blanc;
    border-radius:0 15px 15px 0;
    overflow:hidden;
    transition:margin-right 500ms linear;

    & i{
        width:90px;
        transition: transform 500ms;
        transition-delay: 15ms;
    }
}
.carte:hover{
    .check{
            margin-right:0;
        & > i{
            -webkit-transform:rotate(360deg);
            transform:rotate(-360deg);
        }

        
    }

}
/*remplissage du coeur*/
.menuHeart{
    & .far{
    opacity:1;
    -webkit-transition: opacity 2000ms;
    transition:opacity 2000ms;
    }
    & .fas{
        opacity:0;
        -webkit-transition: opacity 2000ms;
        transition:opacity 2000ms;
        }
    &:hover{
        & .far{
            opacity:0;
        }
        & .fas{
            opacity:1;
        }
    }
}
/*apparition des menus*/
.menus{
    & .menu:nth-child(1){
        opacity:1;
        animation:affichageMenu 2000ms cubic-bezier(.18,.03,.52,.76);
        animation-fill-mode: forwards;
    }
    & .menu:nth-child(2){
        opacity:1;
        animation:affichageMenu 2000ms cubic-bezier(.18,.03,.52,.76);
        animation-delay:150ms;
    }
    & .menu:nth-child(3){
        opacity:1;
        animation:affichageMenu 2000ms cubic-bezier(.18,.03,.52,.76);
        animation-delay:290ms;
    }
    
}
@keyframes affichageMenu{
    0%{
        opacity:0;
        transform:translate(-3%,5%);

}
    30%{
        opacity:1;
        transform:translate(0%,0%);

}
}
/*loading spinner*/
$nbElt:3;
$animDuree:3000ms;
$scaleStart:.5;
$scaleEnd:1;
$delaiInitial:200ms;
$marginInitial:0;

$colors: (
  1: #9356dc,
  2: #ff79da,
  3:#99e2d0

);
main {
    opacity:1;
    animation:opacityMain 5500ms cubic-bezier(.1,.58,0,1.01);
}
@keyframes opacityMain{
        from{
            opacity:0.2;
        }
        to{
            opacity:0.2;
        }
    }
    

.load{         
    opacity:0;
    position:fixed;; 
    display:flex;
    width:100%;
    height:100%;
    left:0;
    justify-content:center;
    align-items:center;   
    z-index:-1;
    animation:loadSpinner 5500ms linear; 



    & .sablier{ 
        margin:0 30px;


        @for $i from 1 through $nbElt{
            &--#{$i}{      
                opacity:0;   
                top:50%;
                color:map-get( $colors, $i);
                animation: sablier $animDuree  ($delaiInitial / $nbElt) * ($i * 10) ease-out forwards,opacity $animDuree  ($delaiInitial / $nbElt) * ($i * 10) ease-in-out ;
            }
//opacity $animDuree ease-in-out,
        }   
    }
    
}





@keyframes loadSpinner{
from{
    opacity:2;    
    z-index:0;
    }
to{
    opacity:0;
    z-index:-1;
}   
}
@keyframes sablier {
    0%,50% {
        transform: scale($scaleStart) rotate(0deg);

    }
    50%,100%{
        transform:scale($scaleEnd) rotate(360deg) translateY(10px);

    }
}
@keyframes opacity{
    from{  
        opacity:2;
        z-index:2;
    }
   to{     
       opacity:2;  
        z-index:0;
     }
}



  